<div class="row">

    <div class="col-xs-6 col-md-3 our-thumbnail-group" ng-repeat="item in data.items">
        <a href="#" class="thumbnail">
            <img ng-src="{{item.images[1].url}}" alt="{{item.name}}">
        </a>
        <h3><a href="{{item.external_urls.spotify}}">{{item.name}}</a></h3>
        <p>
            <span ng-repeat="artist in item.artists">
            <a href="{{artist.external_urls.spotify}}"> {{artist.name}} </a> {{$last?'':','}}
        </span>
        </p>
    </div>
</div>