<div class="artists">
    <div class="row">
        <div class="col-md-1">
            <img src="" alt="{{item.name}}" class="img-circle">
        </div>
        <div class="col-md-11">

        </div>


        <table class="table table-condensed">
            <tr ng-repeat="item in data.items">
                <td>
                    <img src="{{item.images[2].url}}" alt="{{item.name}}" class="img-circle avatar">
                </td>
                <td>
                    <h3>{{item.name}}</h3> <br>
                    <span class="label label-inverse"> <i
                            class="fa fa-users"></i> {{item.followers.total}} Followers</span>
                    <br>
                    <span class="genres">{{item.genres.join(", ")}}</span>
                </td>
                <td>

                    <div class="star-ratings">
                        <div class="star-ratings-top" style="width: {{item.popularity}}%">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>

                </td>
                <td>
                    <a href="{{item.external_urls.spotify}}" role="button" class="btn btn-default btn-xs">
                        <i class="fa fa-share"></i>
                    </a>

                </td>
            </tr>
        </table>


    </div>
</div>