section {
    margin-top: 100px;
}

.navbar-brand > img {
    width: 20px;
    height: 20px
}

.our-thumbnail-group h3 {
    font-size: 14px;
    width: initial;
    margin-top: -12px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.our-thumbnail-group p {
    margin-top: -8px;
    color: rgba(58, 52, 52, 0.61);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: initial;
    font-size: 13px;

}

.artists {
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(133, 121, 133, 0.26);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(133, 121, 133, 0.26);
    box-shadow: inset 1px 0px 0px 0px rgba(133, 121, 133, 0.26);
}

.star-ratings {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    /*font-size: 50px;*/
    height: 50px;
    width: 250px;
    margin: 1em auto;
    position: relative;
    padding: 0;
}

.star-ratings .star-ratings-top {
    color: #0f0d00;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0px;
    overflow: hidden;
}

.avatar {
    width: 80px;
    height: 80px;
}

.artists h3 {
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: -14px;
}

.label-inverse {
    background-color: #222;
}

.btn-inverse {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

.genres {
    font-size: 12px;
    color: rgba(51, 50, 50, 0.66);
}

.modal-header {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #222;
    color: #fff;
}

.modal-footer {
    padding: 6px;
}