section {
    margin-top: 100px;
}

.navbar-brand > img {
    width: 20px;
    height: 20px
}

.our-thumbnail-group h3 {
    font-size: 14px;
    width: initial;
    margin-top: -12px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.our-thumbnail-group p {
    margin-top: -8px;
    color: rgba(58, 52, 52, 0.61);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: initial;
    font-size: 13px;

}